<div class="jumbotron">


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Personal Information</div>
  <div class="panel-body">
    <p>Protrait: <%= image_tag @user.image, class: "protrait"%></p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Username: <%= @user.username %></li>
    <li class="list-group-item">Email: <%= @user.email %></li>
    <li class="list-group-item"><%= link_to "edit", edit_user_path(@user.id), class: "btn btn-info"%></li>
  </ul>
</div>	
</div>