
<div class="panel panel-default">
<table class="table">
<tr>
  <th>user name</th>
  <th>status</th>
</tr>
<% @user.followees.each do |followee| %>
  <tr>
	<td><%= followee.username %></td>
	<td><a href="">watching me</a></td>
  </tr>
<% end %>
</table>

</div>

<div class="panel panel-default">
<table class="table">
<tr>
  <th>user name</th>
  <th>status</th>
</tr>
<% @user.followers.each do |follower| %>
  <tr>
	<td><%= follower.username %></td>
	<td><a href="">I'm watching</a></td>
  </tr>
<% end %>
</table>

</div>
